:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: #213547;
  background-color: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
  
  button {
    background-color: #1a1a1a;
  }
  
  .pokemon-card {
    background-color: #2b2b2b;
  }
  
  .pokemon-header {
    background-color: #1e5799;
  }
  
  .stat-value-container {
    background-color: #3a3a3a;
  }
  
  .stat-number {
    color: #f0f0f0;
  }
}